@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Oswald:wght@700&family=Shalimar&display=swap');

.menu{
  height: 10vh;
  background-color: black;
  text-align: center;
}

body{
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.games-container{
  height: 90vh;
}

.menu-item{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  margin: 0 30px;
  line-height: 10vh;
  font-family: 'Oswald', sans-serif;
}

.games-item{
  width: 400px;
  height: 600px;
  list-style: none;
  border-radius: 20px;
  filter: brightness(0.9) blur(3px) contrast(40%);
  opacity: 0.7;
  transition: 0.5s;

}

.games-item:hover{
  filter: none;
  opacity: 1;
  transform: scale(1.02);
  transition: 0.5s;

}

.item1{
  background: url('img/CS-GO.PNG');
  background-position: center;
  background-size: cover;

}


.item2{
  background: url('img/MCraft.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.item3{
  background: url("img/AmongUs.PNG");
  background-position: center;
  background-size: cover;
}

.item4{
  background: url('img/Fortnite.PNG');
  background-position: center;
  background-size: cover;
}

.games-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 30px;
  background-color: coral;
  border-radius: 20px;
  border: 2px solid white;
  transform: translateY(450px);
  text-align: center;
  padding: 30px 0;

}

@keyframes change{
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0 50%
  }
}
